######### Center Of Energy #########
CenOfEn : "13.6TeV"

######### Luminosity #############
Luminosity : 108952754566.0 
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2024" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
#Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 
######## Decay Mode #######
Channel: "dielec"

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2024.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
METFilters : {"Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter", "Flag_BadPFMuonDzFilter", "Flag_hfNoisyHitsFilter", "Flag_eeBadScFilter", "Flag_ecalBadCalibFilter"}
####### PileUp File #######
PileUpMCFileName : "UL2018/MC_Pileup.root"
PileUpDATAFileName : "UL2018/Offcial_Data.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Ele23_Ele12_CaloIdL_TrackIdL_IsoVL_v", "HLT_DoubleEle25_CaloIdL_MW_v"}
singleleptrigger : {"HLT_Ele32_WPTight_Gsf_v"} 
JetMETtrigger : {"HLT_PFMET120_PFMHT120_IDTight", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight", "HLT_PFMET120_PFMHT120_IDTight_PFHT60", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_PFHT60", "HLT_PFMET200_BeamHaloCleaned", "HLT_PFMETTypeOne200_BeamHaloCleaned", "HLT_PFHT500_PFMET100_PFMHT100_IDTight", "HLT_PFHT700_PFMET85_PFMHT85_IDTight", "HLT_PFHT800_PFMET75_PFMHT75_IDTight", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_FilterHF", "HLT_PFHT500_PFMET110_PFMHT110_IDTight"}


######## Lepton requirement #######
######## Muon requirement   #######
Muon_ID : "Tight"
MuonPt_cut : 15.0
MuonEta_cut : 2.4
MuonIso_type : "PFIsoTight"
MuonIso_cut  : 0.15   # not used when PFIsoTight

######## Elecrtron requirement ######
Elec_ID      : "SCBTight"
ElecPt_cut      : 15.0
ElecEta_cut     : 2.4
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.0821


####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
Jet_ID : "PuppiTightLepVeto"
#Jet_btag : "pfCSVV2M"
#Jet_btag : "deepCSVL"
Jet_btag : "UParTAK4L"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
BTagSFSys : "central"
BTagEffSys : "central"


################## CSVL , CSVM , CSMT #################

PUIDWorkingPoint : "L"
PUIDSFSys : "nom"
ApplyPUID : "false"
PUIDPtThreshold : 50 
####### MET requirement #######
MET_cut : 100.0

####### MET Algoritm #######
METtype : "Puppi" ## PF or Puppi
applyMETXY : "False" ## "False" or "True"

####### Rochester Correction #######
applyRochester : "False"  ## "False" or "True"


####### Veto Muon & Electron Cleaning requirement #######

### case of Muon ###
VetoMuonPt : 15.0
VetoMuonEta : 2.4
VetoMuonId : "Loose"
VetoMuonIso : "PFIsoTight"
VetoMuonIsocut : 0.25   # not used when PFIsoLoose

### case of Electron ###
VetoElecPt : 15.0
VetoElecEta : 2.4
VetoElecId : "SCBVeto"
VetoElecIdcut : {0.0, 1.0} # Not used...
VetoElecIso : "PFIsoRho03"
VetoElecIsocut : 0.175

### Lepton Scale Factor ###
TrigSFFile : "TriggerSF_2022.root"
TrigSFHist : "SF_is_ee_pt1_pt2"
#TrigSFFile : "TriggerSF_2018_ULv2.root"
#TrigSFHist : "h2D_SF_ee_lepABpt_FullError" ## h2D_SF_mumu_lepABpt_FullError dimuon h2D_SF_ee_lepABpt_FullError dielec,  h2D_SF_emu_lepABpt_FullError muel


### Do JER ??
DoJER : "true"
#DoJER : "false"
### Corrections & SFs with correctionlib ###
PileupSys : "nominal"
L1PreFireSys : "central" ## central ,up,down, none
TrigSFSys : "nominal"

## JSon Path ##
PUWeightPath : "CorrectionFiles/puWeights_BCDEFGHI.json"
JERSFPath : "JME/2024_Summer24/jet_jerc.json.gz"
JECPath : "JME/2024_Summer24/jet_jerc.json.gz"
JESName : "Summer24Prompt24_V1_MC_L1L2L3Res_AK4PFPuppi"
JERPath : "JME/2024_Summer24/jet_jerc.json.gz"
JMARPath : ""
JetVetoPath : "JME/2024_Summer24/jetvetomaps.json.gz"
JetVetoName : "Summer24Prompt24_RunBCDEFGHI_V1"
JetVetoKey: "jetvetomap" # "jetvetomap, jetvetomap_hot, jetvetomap_all, jetvetomap_hem1516" 
JetVetoType: "event" # jet/event 
JetIDPath : "JME/2024_Summer24/jetid.json.gz"
JetIDTightName : "AK4PUPPI_Tight"
JetIDTightLepVetoName : "AK4PUPPI_TightLeptonVeto"


#JECName : "Summer24Prompt24_V1_MC_L1L2L3Res_AK4PFPuppi" ## 
JECName : "Summer24Prompt24_V1" ## 
JERName : "Summer23BPixPrompt23_RunD_JRV1_MC_ScaleFactor_AK4PFPuppi" ## JER Sf name 
JERResName : "Summer23BPixPrompt23_RunD_JRV1_MC_PtResolution_AK4PFPuppi" ## Resolution (pt or phi)


MuonSFPath : "MUO/2024_Summer24/muon_Z.json.gz"
MuonIDSFName : "NUM_TightID_DEN_TrackerMuons"
MuonIsoSFName : "NUM_TightPFIso_DEN_TightID"

ElecSFPath : "EGM/2024_Summer24/electronID_v1.json.gz"
ElecIDSFName : "Electron-ID-SF"
## 2024: Reco SF in separate file (Reco20to75, RecoAbove75). Omit for 2022/2023 where Reco is in same file.
ElecRecoSFPath : "EGM/2024_Summer24/electron_v1.json.gz"
ElecRecoSFName : "Electron-ID-SF"
ElecRecoSFYear : "2024Prompt"

LepIDSFSys : "nominal"
LepIsoSFSys : "nominal"
LepRecoSFSys : "nominal"
LepTrackSFSys : "nominal" 
