######### Center Of Energy #########
CenOfEn : "13TeV"

######### Luminosity #############
#Luminosity : 38004876590.559
Luminosity : 19648186119.301551819 # 2016PreVPF 
#RunRange : "2016PostAPV" ### 2016PreVFP , 2016PostAPV 2017 2018 
RunRange : "2016PreVFP" ### 2016PreVFP , 2016PostAPV 2017 2018 
#Luminosity :  16578090668.240
#Luminosity :  16146177653.168
Luminosities :  {19648186119.301551819, 16665567224.822570801, 41479680528.412475586, 59832422396.795394897} ## 19.648186119 
######## Decay Mode #######
Channel: "dimuon"

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2016PreVFP.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
#METFilters : {"Flag_HBHENoiseFilter","Flag_HBHENoiseIsoFilter","Flag_EcalDeadCellTriggerPrimitiveFilter","Flag_goodVertices","Flag_eeBadScFilter","Flag_globalTightHalo2016Filter","Flag_BadChCandFilter","Flag_BadPFMuonFilter","Flag_noBadMuons"}
METFilters : {"Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_HBHENoiseFilter", "Flag_HBHENoiseIsoFilter", "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter","Flag_BadPFMuonDzFilter","Flag_eeBadScFilter"}
####### PileUp File #######
PileUpMCFileName : "UL2016PreVFP/MC_Pileup.root"
PileUpDATAFileName : "UL2016PreVFP/Offcial_Data.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_DZ_v","HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v","HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v"}
singleleptrigger : {"HLT_IsoMu24_v", "HLT_IsoTkMu24_v"}


######## Lepton requirement #######
######## Muon requirement   #######
Muon_ID : "Tight"
MuonPt_cut : 20.0
MuonEta_cut : 2.4
MuonIso_type : "PFIsodbeta04"
MuonIso_cut  : 0.15

######## Elecrtron requirement ######
Elec_ID      : "SCBTight"
ElecPt_cut      : 20.0
ElecEta_cut     : 2.4
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.0821

####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
#Jet_ID : "PFLoose"
Jet_ID : "PFTight"
#Jet_btag : "pfCSVV2M"
Jet_btag : "deepCSVL"
################## CSVL , CSVM , CSMT #################

####### MET requirement #######
MET_cut : 40.0


####### Veto Muon & Electron Cleaning requirement #######

### case of Muon ###
VetoMuonPt : 20.0
VetoMuonEta : 2.4
VetoMuonId : "Loose"
VetoMuonIso : "PFIsodbeta04"
VetoMuonIsocut : 0.25

### case of Electron ###
VetoElecPt : 20.0
VetoElecEta : 2.5
VetoElecId : "SCBVeto"
VetoElecIdcut : {0.0, 1.0} # Not used...
VetoElecIso : "PFIsoRho03"
VetoElecIsocut : 0.175

### Lepton Scale Factor ###
MuonIDFile : "MuonIDEfficienciesAndSF_BCDEF.root"
MuonIDFiles : {"MuonIDEfficienciesAndSF_BCDEF.root","MuonIDEfficienciesAndSF_GH.root"}
MuonIsoFile : "MuonIsoEfficienciesAndSF_BCDEF.root"
TrackEffFile : "Tracking_EfficienciesAndSF_BCDEFGH.root"
MuonIsoFiles : {"MuonIsoEfficienciesAndSF_BCDEF.root","MuonIsoEfficienciesAndSF_GH.root"}
ElectronIDFile : "Electron_CutBased_Medium.root"
ElectronRecoFile : "Electron_RecoSF.root"

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
TrigSFFile : "triggerSummary_mumu.root"

### BTagging Scale Factor csv file ###
BTaggingCSVFile : "UL2016preVFP/wp_deepCSV.csv"
BTaggingCSVFiles : {"UL2016preVFP/wp_deepCSV.csv"}

### Do JER ??
DoJER : "true"
#DoJER : "false"

