######### Center Of Energy #########
CenOfEn : "13.6TeV"

######### Luminosity #############
#Luminosity : 109525116819.0
Luminosity : 7980400000.0
RunRange : "2022" ### 2016PreVFP , 2016PostAPV 2017 2018 
######## Decay Mode #######
Channel: "dimuon"

######## Total Number of Event for Each Sample ######
UsingTotalEvent : "True"
########### false or true #######

XSecTablesName : "2022.txt"
##TTJetSYs    FSRUp,     FSRDown,   ISRUp,     ISRDown,   TuneUp,   TuneDown, Herwig,   EvtGen,  hdampUp,  hdampDown, GluoneMoveCRTune_erdON, GluoneMoveCRTune , QCDCRTune, erdON  ##########

####### METFilter requirement #######
METFilters : {"Flag_goodVertices", "Flag_globalSuperTightHalo2016Filter", "Flag_EcalDeadCellTriggerPrimitiveFilter", "Flag_BadPFMuonFilter", "Flag_BadPFMuonDzFilter", "Flag_hfNoisyHitsFilter", "Flag_eeBadScFilter"}
####### PileUp File #######
PileUpMCFileName : "UL2018/MC_Pileup.root"
PileUpDATAFileName : "UL2018/Offcial_Data.root"

####### Trigger requirement #######
dileptrigger : {"HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_Mass3p8"}
singleleptrigger : {"HLT_IsoMu24_v"}
JetMETtrigger : {"HLT_PFMET120_PFMHT120_IDTight", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight", "HLT_PFMET120_PFMHT120_IDTight_PFHT60", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_PFHT60", "HLT_PFMET200_BeamHaloCleaned", "HLT_PFMETTypeOne200_BeamHaloCleaned", "HLT_PFHT500_PFMET100_PFMHT100_IDTight", "HLT_PFHT700_PFMET85_PFMHT85_IDTight", "HLT_PFHT800_PFMET75_PFMHT75_IDTight", "HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_FilterHF", "HLT_PFHT500_PFMET110_PFMHT110_IDTight"}



######## Lepton requirement #######
######## Muon requirement   #######
Muon_ID : "Tight"
MuonPt_cut : 15.0
MuonEta_cut : 2.4
MuonIso_type : "PFIsoTight"
MuonIso_cut  : 0.15   # not used when PFIsoTight

######## Elecrtron requirement ######
Elec_ID      : "SCBTight"
ElecPt_cut      : 15.0
ElecEta_cut     : 2.4
ElecIso_type : "PFIsoRho03"
ElecIso_cut  : 0.0821


####### Jet requirement #######
Jet_pt : 30.0
Jet_eta : 2.4
Jet_ID : "PuppiTightLepVeto"
#Jet_btag : "pfCSVV2M"
#Jet_btag : "deepCSVL"
Jet_btag : "UParTAK4L"
BTagSFType : "mujets" # mujets, comb (defalt is comb but BTV recommend mujets for ttbar dilepton analysis)
BTagSFSys : "central"
BTagEffSys : "central"


################## CSVL , CSVM , CSMT #################

PUIDWorkingPoint : "L"
PUIDSFSys : "nom"
ApplyPUID : "false"
PUIDPtThreshold : 50 

####### MET requirement #######
MET_cut : 100.0

####### MET Algoritm #######
METtype : "Puppi" ## PF or Puppi
applyMETXY : "False" ## "False" or "True"

####### Rochester Correction #######
applyRochester : "False"  ## "False" or "True"


####### Veto Muon & Electron Cleaning requirement #######

### case of Muon ###
VetoMuonPt : 15.0
VetoMuonEta : 2.4
VetoMuonId : "Loose"
VetoMuonIso : "PFIsoTight"
VetoMuonIsocut : 0.25   # not used when PFIsoLoose

### case of Electron ###
VetoElecPt : 15.0
VetoElecEta : 2.4
VetoElecId : "SCBVeto"
VetoElecIdcut : {0.0, 1.0} # Not used...
VetoElecIso : "PFIsoRho03"
VetoElecIsocut : 0.175

### Lepton Scale Factor ###
#TrigSFFile : "TriggerSFDiMuon.root"
#TrigSFFile : "triggerSummary_mumu.root"
TrigSFFile : "TriggerSF_2018_ULv2.root"
TrigSFHist : "h2D_SF_mumu_lepABpt_FullError" ## h2D_SF_mumu_lepABpt_FullError dimuon h2D_SF_ee_lepABpt_FullError dielec,  h2D_SF_emu_lepABpt_FullError muel

### Do JER ??
DoJER : "true"
#DoJER : "false"
### Corrections & SFs with correctionlib ###
PileupSys : "nominal"
L1PreFireSys : "central" ## central ,up,down, none
TrigSFSys : "nominal"


## JSon Path ##
PUWeightPath : "LUM/2022_Summer22/puWeights.json.gz"
JERSFPath : "JME/2022_Summer22/jet_jerc.json.gz"
JECPath : "JME/2022_Summer22/jet_jerc.json.gz"
JESName : "Summer22_22Sep2023_V2_MC_L1L2L3Res_AK4PFPuppi"
JERPath : "JME/2022_Summer22/jet_jerc.json.gz"
JMARPath : ""
JetVetoPath : "JME/2022_Summer22/jetvetomaps.json.gz"
JetVetoName : "Summer22_23Sep2023_RunCD_V1"
JetVetoKey: "jetvetomap" # "jetvetomap, jetvetomap_hot, jetvetomap_all, jetvetomap_hem1516" 
JetVetoType: "event" # jet/event 
JetIDPath : "JME/2022_Summer22/jetid.json.gz"
JetIDTightName : "AK4PUPPI_Tight"
JetIDTightLepVetoName : "AK4PUPPI_TightLeptonVeto"

#JECName : "Summer22_22Sep2023_V2_MC_L1L2L3Res_AK4PFPuppi" ## 
JECName : "Summer22_22Sep2023_V2" ## 
JERName : "Summer22_22Sep2023_JRV1_MC_ScaleFactor_AK4PFPuppi" ## JER Sf name 
JERResName : "Summer22_22Sep2023_JRV1_MC_PtResolution_AK4PFPuppi" ## Resolution (pt or phi)


MuonSFPath : "MUO/2022_Summer22/muon_Z.json.gz"
MuonIDSFName : "NUM_TightID_DEN_TrackerMuons"
MuonIsoSFName : "NUM_TightPFIso_DEN_TightID"

ElecSFPath : "EGM/2022_Summer22/electron.json.gz"
ElecIDSFName : "Electron-ID-SF"
ElecIDSFYear : "2022Re-recoBCD"

LepIDSFSys : "nominal"
LepIsoSFSys : "nominal"
LepRecoSFSys : "nominal"
LepTrackSFSys : "nominal" 
